@font-face{
  font-family: 'Mukta';
  src: url('../fonts/Mukta-Regular.ttf');
}

@font-face{
  font-family: 'Hack';
  src: url('../fonts/Hack-Regular.ttf');
}

body {
  font-family: 'Mukta';
  color: white;
}

h1, h2, h3 {
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
}

p, li {
	font-size: 28px;
	margin: 10px;
  margin-top: 0px;
}

img {
  margin: 0px 10px 0px 10px;
}

a {
  color: white;
}

.remark-code, .remark-inline-code {
  font-family: 'Hack';
}

.small * {
  font-size: small !important;
}

.note {
	font-size: 22px;
	color: lightblue;
}

.bold {
  font-weight: bold;
}